* {
    background-color:antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

input {
    border-radius: 10px;
    display: block;
    height: 3em;
    width: 100%;
    max-width: 4em;
    font-size: 2em;
    text-align: center;
    box-sizing: border-box;
    border: 3px solid #8d8d8d;
    caret-color: transparent;
}
table {
    margin: 25px;
    padding: 30px;
    width: auto;
    max-width: 100%;
    position: absolute;
}

tr {
    margin: 5px;
}